<%= form_for @project do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div>
    <%= f.label :goal %>
    <%= f.number_field :goal %>
  </div>
  <div>
    <%= f.label :start_time %>
    <%= f.datetime_select :start_time %>
  </div>
  <div>
    <%= f.label :end_time %>
    <%= f.datetime_select :end_time %>
  </div>

  <h2>Rewards</h2>

    <%= f.fields_for :rewards, Reward.new do |reward| %>

    <div>
      <%= reward.label :name %>
      <%= reward.text_field :name %>
    </div>

    <div>
      <%= reward.label :description %>
      <%= reward.text_area :description %>
    </div>

    <div>
      <%= reward.label :threshold %>
      <%= reward.number_field :threshold %>
    </div>

    <% end %>

  <div>
    <%= f.submit %>
  </div>
<% end %>
