<!DOCTYPE html>
<html>
<head>
  <title>Crowdfunder</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id = banner>
    <div id = site-logo> Crowdfunder </div>
    <div class = 'nav'>
      <%= link_to "Home", root_path %> |
      <%= link_to "Start a Project", new_project_path %>
    </div>

  <div class="navbar-static-top">
    <% if current_user %>
      Currently logged in as <%= link_to current_user.first_name, user_path(current_user) %> | <%= link_to "Log Out", session_path(current_user), method: :delete %>
    <% else %>
      <%= link_to "Sign Up", new_user_path %> | <%= link_to "Log In", new_session_path %>
    <% end %>
  </div>
</div>

<div id = contents>
<%= yield %>
</div>

</body>
</html>
